@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This application was made as a test task from fuse8.</p>
    <p>Visit this <a class="card-link" asp-controller="Home" asp-action="CryptocurrencyQuotes">page</a> to see the functionality.</p>
</div>
